body {
    background-color: lightblue;
}

head {
    margin-left: 40px;
}

h1 {
	text-align: center;
	text-decoration: underline
}

h4 {
	text-align: center;
}

iframe {
	display: block;
	margin: 0 auto;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}